.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  &__link {
    width: 100%;
    height: calc(100vw / 5);
    transition: $transition;

    &:hover {
      opacity: 0.8;
    }
  }

  &__img {
    @extend %image;

    height: 100%;
  }
}
