.hero {
  // @extend %overlay;

  overflow: hidden;
  height: 100vh;

  &--small {
    height: 60vh;
    min-height: gutter(30);
  }

  &__scene {
    position: relative;
    width: 120%;
    height: 120%;
    left: -10% !important;
    top: -10% !important;
    display: flex;
    justify-content: center;
    align-items: center;

    &--sygnet {
      z-index: 10;
    }
  }

  &__image {
    @extend %absolute;
    @extend %image;
  }

  &__sygnet {
    @extend %absolute;

    @include cssLock("width", 360, 1920, (gutter_num(30), gutter_num(60)));

    height: auto;

    &--napis {
      @extend %absolute;

      @include cssLock("width", 360, 1920, (gutter_num(30), gutter_num(60)));

      height: auto;
      top: 400px;
    }
  }

  &__title {
    @extend %absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    color: $special-light;
    text-shadow: 0 0 gutter(2) $black;
  }
}
