.rooms {
  @include cssLock("padding-top", 360, 1920, (gutter_num(3), gutter_num(15)));
  @include cssLock(
    "padding-bottom",
    360,
    1920,
    (gutter_num(3), gutter_num(15))
  );

  & + .foods {
    padding-top: 0;
  }

  &__header {
    text-align: center;

    @include cssLock(
      "padding-bottom",
      360,
      1920,
      (gutter_num(5), gutter_num(10))
    );
  }

  &__title {
    color: $special-dark;
  }

  &__wrapper {
    width: 100%;
  }

  &__col {
    margin: 0 gutter(0.8);
  }
}
