.rooms {
  @include cssLock("padding-top", 360, 1920, (gutter_num(3), gutter_num(15)));
  @include cssLock(
    "padding-bottom",
    360,
    1920,
    (gutter_num(3), gutter_num(15))
  );

  & + section {
    padding-top: 0;
  }

  .container {
    @include mediaTo(sm) {
      padding: 0;
    }
  }

  &__header {
    text-align: center;

    @include cssLock(
      "padding-bottom",
      360,
      1920,
      (gutter_num(5), gutter_num(10))
    );
  }

  &__title {
    color: $special-dark;
    max-width: gutter(100);

    &::first-line {
      @extend .title;
    }

    @extend .subtitle;

    line-height: gutter(4);
    margin: 0 auto;
    letter-spacing: 0.3px;
  }

  &__wrapper {
    width: 100%;
    min-height: gutter(60);
  }

  &__col {
    margin: 0 gutter(0.8);

    @include mediaTo(sm) {
      opacity: 0.3;
      transition: $transition;

      &.is-selected {
        opacity: 1;
      }
    }
  }
}
